.opentype {
    padding: 180px 0 80px 0;
    background-color: $bg-color;
    &__wrapper {
        width: 1219px;
        height: 370px;
        margin: 0 auto;
        border-radius: 33px;
        display: flex;
        gap: 39px;
        border-radius: 33px;
        background: #343434;
    }
    &__text {
        padding: 78px 0 0 94px;

    }
    &__img {
        border-radius: 0 0 33px 0;
    }
}