.title {
    text-align: center;
    color: #FFF;
    font-size: 52px;
    font-weight: 400;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    &_big {
        color: #FFF;
        margin: 0 auto;
        font-size: 80px;
        font-weight: 500;
        line-height: 88px;
        letter-spacing: 0.2px;
        width: 709px;
        text-align: center;
        text-transform: none;
    }
    &_right {
        text-transform: none;
        text-align: left;
        line-height: 62px;
        margin-bottom: 37px;
    }
}

.subtitle {
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.1px;
    &_black {
        color: $bg-color;
    }
}